<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <!-- OWN CSS -->
  <link rel="stylesheet" href="/stylesheets/MyCss/mapPage.css">

  <title>Map manager</title>
</head>

<body background="/images/DigitalizationBackground.jpg">
  <div class="container-fluid p-5 m-auto row">

    <div class="col-sm">
      <div class="text-border">
          <img class="rounded-circle mx-auto d-block mt-5" src="/images/test-packing-machine.jpg" alt="Test and Packing machine">
          <div class=" my-5 mx-5"><a href="/motorlogger" class="title">Motorlogger</a> </div>
      </div>
       
    </div>
    <div class="col-sm">
      <div class="text-border">
          <img class="rounded-circle mx-auto d-block mt-5" src="/images/punching-machine.jpg" alt="Punching machine">
          <div class=" my-5 mx-5"><a href="/motor-bklab" class="title">Motor BKLab</a> </div>
      </div>
    </div>

  </div>



  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <!-- Own scripts -->
  <!-- <script src="/javascripts/MyScripts/indexPage.js"></script> -->
</body>

</html>